conda {
  enabled = true
  temp = 'auto'
}

params {
	baseDir = "<paster your project dir>"
	results = "${baseDir}/results"
	rawFileDir = "${baseDir}/raw_files"
	fqExt = 'fastq.gz'
	metaSheet = "${baseDir}/meta_data/samples.tsv"
	fastaDir = "${baseDir}/assets/fasta/"
	star = "${baseDir}/assets/fasta/STAR"
	annotation = "${baseDir}/assets/annotation/"
	ribosomal_annotation = "${baseDir}/assets/ribosomal_annotation/"

	humanGTF = "${baseDir}/assets/annotation/Homo_sapiens.GRCh38.106.gtf"
	sinvGFF = "${baseDir}/assets/annotation/SINV_genome_annotation.gff3"
	phixRef = "${baseDir}/assets/fasta/phix174_ill.ref.fa.gz"
	Hsap = "${baseDir}/assets/fasta/Hsap/Hsap_rDNA_U13369.1.fa"

	plots = "${baseDir}/plots"
	trimming = "${baseDir}/Trimming"
}

